body, div{
    border: 1px solid red;
}

/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
      margin: 0;
      
    }
  
  
  /* ---- typography ---- */
  
  body {
    height: 600px;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}
  
  
  
  
  /* ---- layout ---- */
  
  #site-header {}
  
  #site-footer {}
  
  #site-main {
      color: black;
      height: 100%;

  }
  
  #splash {
      text-align: center;
      background-image: url('/home/david/Documents/Ironhack/Project stuff/start stage.jpg');
      background-size: cover;
      height: 100%;
      background-size: 100% 100%;
  }

  #game-over{
      text-align: center;
  }
  
  
  
  /* ---- components ---- */
  