body, div{
    /* border: 1px solid red; */
}

/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
      margin: 0;
      
    }
    @font-face {
        src: url('Saiyan-Sans.ttf');
        font-family: 'dragon'
    }
  
  
  /* ---- typography ---- */
  
  body {
    height: 600px;
  }
  
  h1 {
      color: red;
      font-family: dragon;
      font-size: 50px;
      margin: 0;    
      padding-top: 100px;
  }
  
  h2 {}
  
  h3 {}
  
  
  
  
  /* ---- layout ---- */
  
  #site-header {}
  
  #site-footer {}
  
  #site-main {
      color: black;
      height: 100%;

  }
  
  #splash {
      text-align: center;
      background-image: url('starting.webp');
      background-size: cover;
      height: 100%;
      background-size: 100% 100%;
  }

  #game-over{
      text-align: center;
  }
  
  #button {
      color:#F4ED09;
      background-color: red;
      border-color: 1px solid #F4ED09;
      border-radius: 5px;
  }

  #game {
      background-image: url('dragonstage.gif');
      background-size: cover;
      height: 100%;
      background-size: 100% 100%;
  }

  #game-over{
    background-image: url('dragonstage.gif');
    background-size: cover;
    height: 100%;
    background-size: 100% 100%;
  }
  
  
  /* ---- components ---- */
  