body, div{
    /* border: 1px solid red; */
}

/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
      margin: 0;
      
    }
 
  
  /* ---- typography ---- */
  
  body {
    height: 600px;
  }
  
  h1 {
      color: red;
      font-family: 'Supermercado One', cursive;
      font-size: 50px;
      margin: 0;    
      padding-top: 100px;
  }
  
  h2 {}
  
  h3 {}
  
  
  
  
  /* ---- layout ---- */
  
  #site-header {}
  
  #site-footer {}
  
  #site-main {
      color: black;
      height: 100%;

  }
  
  #splash {
      text-align: center;
      background-image: url('./Images/starting.webp');
      background-size: cover;
      height: 100%;
      background-size: 100% 100%;
  }

  #game-over{
      text-align: center;
  }
  
  #button {
      color:#F4ED09;
      background-color: red;
      border-color: 1px solid #F4ED09;
      border-radius: 5px;
  }

  #game {
      background-image: url('./Images/dragonstage.gif');
      background-size: cover;
      height: 100%;
      background-size: 100% 100%;
      text-align: center;
  }

  #game-over{
    background-image: url('./Images/dragonstage.gif');
    background-size: cover;
    height: 100%;
    background-size: 100% 100%;
  }
  
  #fight {
    color:#F4ED09;
    background-color: red;
    border-color: 1px solid #F4ED09;
    border-radius: 5px;
  }

  #special{
    color:#F4ED09;
    background-color: red;
    border-color: 1px solid #F4ED09;
    border-radius: 5px;
  }

  #health-bar{
    color:#F4ED09;
    background-color: red;
    border-color: 1px solid #F4ED09;
    border-radius: 5px;
    max-width: 48px;
  }

  #select-one {
      height: 50%;
      margin: 50px;
  }

  #select-two{
      height: 50%;
      margin: 50px;
  }

  #next-one-button {
    margin-left: -160px;
    margin-bottom: 50px;
    margin-right: 220px;
    color:#F4ED09;
    background-color: red;
    border-color: 1px solid #F4ED09;
    border-radius: 5px;
  }

  #next-two-button {
    color:#F4ED09;
    background-color: red;
    border-color: 1px solid #F4ED09;
    border-radius: 5px;
  }

  #game-wrapper{
    height: 50%;
    width: 50%;
  }

  #player-one {
    height: 150px;
    width: 150px;
    border: 4px solid red;
    float: left;
    margin-left: 150px;
  }
  
#player-two {
  height: 150px;
  width: 150px;
  border: 4px solid red;
  float: right;
  margin-right: 150px;
  }


  #goku-standing {
    float:left;
    margin-left: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(500px / 4);
    height: 122px;
    background: url('./Images/Gokustanding.png');
    animation: animate 0.7s steps(4) infinite;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  @keyframes animate {
    from {
      background-position: 0;
    }
    to {
      background-position: 531px;
    }
  }

  #broly-standing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(699px / 6);
    height: 133px;
    background: url('./Images/Brolystanding.png');
    animation: animate 2s steps(6);
  }

  @keyframes animate {
    from {
      background-position: 0;
    }
    to {
      background-position: 715px;
    }
  }
  
  /* ---- components ---- */
  